/*EVENT DETAILS*/

.match-info-event {
    display: flex;
    align-items: center; 
    justify-content: space-around; 
  }
  
  .match-info-event .div1{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: -800px;
    padding: 15px;
  }
  .match-info-event .div2{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: -250px;
    margin-right: -250px;
    width: 70px;
    padding: 15px;
  }
  .match-info-event .div3 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: -800px;
    padding: 15px;
  
  }
  
  .fixture-item-event {
    background-color: rgb(148, 150, 151, 0.712); /* Color de fondo del rectángulo del partido */
    border-radius: 8px;
    padding: 10px; 
    align-items: center;
    width: 60%;
    max-width: 60%;
    margin: auto;
  }
  
  .modal-content-event{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: rgba(148, 150, 151, 0.582);
  }
  .button-event {
    padding: 10px;
    cursor: pointer;
    width: 50%;
    font-size: 17px;
    background-color: transparent;
    border: none; 
    box-shadow: none;
}

.button-event.selected {
    background-color: rgba(206, 203, 203, 0.418); 
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); 
}

.button-event.selected:hover {
    background-color: rgba(206, 203, 203, 0.418); 
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); 
}

.button-event:hover {
    background-color: rgba(196, 197, 197, 0.582);
}

  
  /* Estilos para la cancha de fútbol */
  .football-field {
    position: relative;
    width: 100%;
    height: 700px; 
    background-color: green; 
  }
  
  .goal-up {
    position: absolute;
    width: 100px; 
    height: 50px; 
    border: 2px solid white;
    opacity: 0.5;
    border-top: none; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -673%);
  }
  
  .goal-down {
    position: absolute;
    width: 100px; 
    height: 50px; 
    border: 2px solid white;
    opacity: 0.5;
    border-bottom: none; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, 574%);
  }
  
  .penalty-spot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    opacity: 0.5;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .halfway-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    opacity: 0.5;
    top: 50%;
    left: 0;
  }
  
  .center-circle {
    position: absolute;
    width: 100px; 
    height: 100px; 
    border: 2px solid white;
    opacity: 0.5;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .penalty-box-up{
    position: absolute;
    width: 240px; 
    height: 90px; 
    border: 2px solid white;
    opacity: 0.5;
    border-top: none; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -380%);
  }
  
  .penalty-box-down{
    position: absolute;
    width: 240px; 
    height: 90px; 
    border: 2px solid white;
    opacity: 0.5;
    border-bottom: none; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, 280%);
  }

  .round-penalty-box-up {
    position: absolute;
    width: 100px; 
    height: 100px; 
    border: 2px solid white;
    opacity: 0.5;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -323%);
    clip-path: polygon(0 75%, 100% 75%, 100% 100%, 0 100%); 
  }
  
  .round-penalty-box-down {
    position: absolute;
    width: 100px; 
    height: 100px; 
    border: 2px solid white;
    opacity: 0.5;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 228%);
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%);
  }

  .football-half-top {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
}

.football-half-bottom {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
}


.goalkeeper-row,
.defender-row,
.five-line-position-row,
.midfielder-row,
.forward-row {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -22px;
}

.home-team-formation{
    background-color: rgb(5, 112, 14);
    display: flex;
    align-items: center;
    font-size: 15px;
    color: white;
    padding: 5px;
}

.home-team-formation-number{
    margin-left: auto;
    margin-right: 5%;
}

.away-team-formation{
    background-color: rgb(5, 112, 14);
    display: flex;
    align-items: center;
    font-size: 15px;
    color: white;
    padding: 5px;
}

.away-team-formation-number{
    margin-left: auto;
    margin-right: 5%;
}

.player-name-local{
    font-size: 15px !important;
    color: white;
    margin-left: 35px !important;
}

.player-number{
    margin-left: 50%;
    margin-right: 50%;
    background-color: rgb(0, 0, 0);
    border: 2px rgb(255, 255, 255) solid;
    width: 30px;
    height: 30px;
    padding: 5px 1px 5px 15px;
    border-radius: 40px;
    color: white;
}

.player-name-away{
    font-size: 15px !important;
    color: white;
    margin-left: 35px !important;
}

.player-number-away{
    margin-left: 50%;
    margin-right: 50%;
    background-color: rgb(255, 255, 255);
    border: 2px black solid;
    width: 30px;
    height: 30px;
    padding: 5px 1px 5px 15px;
    border-radius: 40px;
}

.team-logo-event{
    width: 60px;
    height: 60px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -5px;
  }

  .match-result-event {
    margin-left: 3px;
    margin-right: 3px; 
    font-weight: bold; 
    font-size: 25px;
    display: inline-block !important;
  }

  .match-result-penalty-home-event,
  .match-result-penalty-away-event{
    color: rgb(190, 20, 20);
    font-weight: 700;
    font-size: 20px;
  
  }
  
  .substitution-arrow {
    width: 20px;
    height: 20px;
    color: green; /* Color de la flecha de sustitución */
}

.goal-indicator {
    width: 30px;
    height: 30px;
    background-color: orange; /* Color de la pelota de fútbol */
    color: white;
    border-radius: 50%; /* Para hacer la pelota de fútbol redonda */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.card-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%; /* Para hacer el indicador de tarjeta redondo */
}

.yellow-card {
    background-color: yellow; /* Color de la tarjeta amarilla */
}

.red-card {
    background-color: red; /* Color de la tarjeta roja */
}

.soccer-ball-icon{
    width: 30px;
    height: 22px;
    margin-left: 14px;
}

.penalty-goal{
    color: rgb(40, 41, 41);
}

.cards-container-home{
    margin-left: 90px;
    margin-bottom: -10px;
}
.card-icon-form-home{
    width: 10px;
    height: 15px;  
}

.cards-container-away{
    margin-left: 85px;
    margin-bottom: -10px;
}

.card-icon-form-away{
    width: 10px;
    height: 15px;
}

.down-arrow-icon{
    width: 19px;
    height: 18px;
    margin-right: 80px;
}

.sust-local{
    margin-left: -20px;
}

.down-arrow-icon-away{
    width: 19px;
    height: 18px;
}

.sust-away{
    margin-left: -20px ;
    width: fit-content;
}

.down-arrow-goal {
    width: fit-content;
    margin-top: -24px;
}

.player-circle-withcard{
    margin-top: -21px;
}


/*FORMATION Y SUBSTITUTES RESPONSIVE*/

@media only screen and (max-width: 1080px) {  
    .fixture-item-event {
        width: 70%;
        max-width: 70%;
      }
      .cards-container-home, .cards-container-away{
        margin-left: 100px;
        margin-bottom: -12px;
    }
}

@media only screen and (max-width: 900px) {  
    .fixture-item-event {
        width: 90%;
        max-width: 90%;
      }
      .cards-container-home, .cards-container-away{
        margin-left: 100px;
        margin-bottom: -12px;
    }
}

@media only screen and (max-width: 700px) {  
    .fixture-item-event {
        width: 90%;
        max-width: 90%;
      }
      .player-number{
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
      .player-number-away{
        margin-bottom: 2px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
      .player-name-local, .player-name-away{
        font-size: 13px !important;
      }
      .defender-row, .goalkeeper-row, .midfielder-row, .five-line-position-row, .forward-row{
        width: 90%;
        justify-content: center;
        margin-left: 2%;
      }
      .soccer-ball-icon{
        margin-left: 10px;
        margin-top: -10px;
    }
    .cards-container-home, .cards-container-away{
        margin-left: 86px;
        margin-bottom: -12px;
    }
}

@media only screen and (max-width: 670px) {  
    .fixture-item-event {
        width: 92%;
        max-width: 92%;
      }
      .player-number, .player-number-away{
        width: 20px;
        height: 20px;
        margin-bottom: 3px;
      }
      .numero-jugador{
        margin-left: -5px;
      }
      .player-name-local, .player-name-away{
        font-size: 13px !important;
      }
      .defender-row, .goalkeeper-row, .midfielder-row, .five-line-position-row, .forward-row{
        width: 90%;
        justify-content: center;
        margin-left: 2%;
      }
      .cards-container-home, .cards-container-away{
        margin-left: 85px;
        margin-bottom: -12px;
    }
    .soccer-ball-icon{
        margin-left: 5px;
        margin-bottom: 5px;
    }
    .sust-local, .sust-away{
        margin-top: -6px;
    }
    .down-arrow-goal {
        width: fit-content;
        margin-top: -28px;
    }
}

@media only screen and (max-width: 600px) {  
      .player-number, .player-number-away{
        width: 20px;
        height: 20px;
        margin-bottom: 3px;
      }
      .numero-jugador{
        margin-left: -5px;
      }
      .extra-case-5-line {
        margin-left: -2% !important;
      }
      .player-name-local, .player-name-away{
        width: fit-content !important;
      }

      .match-info-event .div2{
        margin-left: -20%;
        margin-right: -20%;
      }
      .soccer-ball-icon{
        margin-bottom: 5px;
    }
    .cards-container-home{
        margin-left: 95px;
        margin-bottom: -10px;
    }
    .cards-container-away{
        margin-left: 85px;
        margin-bottom: -10px;
    }
    .down-arrow-goal {
        width: fit-content;
        margin-top: -28px;
    }
}

@media only screen and (max-width: 515px) {  
    .player-name-local, .player-name-away{
        font-size: 11px !important;
      }
      .cards-container-home{
        margin-left: 90px;
        margin-bottom: -10px;
    }
    .soccer-ball-icon{
        margin-bottom: 5px;
    }

}

@media only screen and (max-width: 470px) {  
    .player-name-local, .player-name-away{
        font-size: 9px !important;
      }

}

@media only screen and (max-width: 440px) {  
    .player-name-local, .player-name-away{
        font-size: 8px !important;
      }
      .down-arrow-goal {
        width: fit-content;
        margin-top: -28px;
    }
    .extra-case-5-line {
        margin-left: -6% !important;
      }
    .soccer-ball-icon{
        margin-bottom: 5px;
    }
    .cards-container-home{
        margin-left: 90px;
        margin-bottom: -10px;
    }
    
    .cards-container-away{
        margin-left: 70px;
        margin-bottom: -10px;
    }
    
}