.menu-fixture {
  background-color: rgb(148, 150, 151, 0);
  color: rgb(0, 0, 0);
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 70%;
  position: relative; /* Añade posicionamiento relativo */

}

.fixture-container{
    background-image: url('../../../public/images/2q2q.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
  }

  .loading-spinner-fix{
    color: white;
    text-align: center;
    font-size: 1em;
    margin-left: 5px;
  }
  
.preloader-fix {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh !important;

    
  }

.fixtures-list{
  margin-bottom: 50px;  /*Espacio entre ligas container*/
}

.league-container {
  text-align: center;
}

.team-logo{
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: -5px;
}

/* Estilos para los rectángulos de partido */
.fixture-item {
  background-color: rgb(148, 150, 151, 0.712); /* Color de fondo del rectángulo del partido */
  border-radius: 8px;
  padding: 10px; 
  align-items: center; /* Centrar verticalmente los elementos */
  width: 70%;
  margin-bottom: 5px !important;
  margin: auto;
  
}

/* Estilos para el horario del partido */
.match-time {
  background-color: rgba(10, 10, 10, 0.712);
  border-radius: 8px;
  padding: 10px; 
  color: white;
  position: absolute;
  left: 20%;
  width: fit-content;
  font-size: 15px;
 
}


/* Estilos para los resultados de los partidos */
.match-result {
  margin-left: 3px;
  margin-right: 3px; 
  font-weight: bold; 
  font-size: 18px;
  display: inline-block !important;
  
}

.league-title{
  background-color: rgba(10, 10, 10, 0.712);
  border-radius: 8px;
  width: 40%;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  font-size: 20px;
}

.goal-info {
  display: flex;
  flex-direction: column; /* Mostrar los goles en una columna */
  align-items: center; /* Centrar horizontalmente los elementos */
  margin-top: -5px;
}

.goal-details {
  width: 95%;
  height: 15px;
  display: flex;
  flex-direction: row;
}

.home_scorer{
  font-size: 10px;
  text-align: center;
  width: 63%; 

}

.away_scorer{
  font-size: 10px;
  text-align: center;
  width: 63%;
 

}


.match-info {
  display: flex; /* Establece el contenedor como un flexbox */
  align-items: center; 
  justify-content: space-around; /* Distribuye uniformemente los elementos a lo largo del contenedor */
}

.match-info .div1{
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 70px;
  padding: 15px;
}
.match-info .div2{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-left: -250px;
  margin-right: -250px;
  width: 70px;
  padding: 15px;
}
.match-info .div3 {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 70px;
  padding: 15px;

}

.match-result-penalty-home{
  color: red;
  font-weight: 600;

}

.match-result-penalty-away{
  color: red;
  font-weight: 600;
}

.date-title{
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: -40px;
}

.date-number{
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 15px;
}

.cards-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-cards,
.away-cards {
  font-size: 10px;
  text-align: center;
  width: 400px; 
}

.red-card {
  width: 7px;
  height: 8px;
  background-color: red;
  align-items: center;

}


/*PANTALLA TABLETS*/

@media only screen and (min-width: 700px) and (max-width: 1070px) {  
  .fixture-item {
    width: 100%;
    margin-bottom: 5px !important;
    margin: auto;
    
  }
  
  /* Estilos para el horario del partido */
  .match-time {
    left: 10%;
   
  }
}


/*PANTALLA  CELULARES*/

@media only screen and (max-width: 699px) {  
  .fixture-item {
    width: 100%;
    margin-bottom: 5px !important;
    margin: auto;
    
  }
  
  /* Estilos para el horario del partido */
  .match-time {
    left: 12%;
    padding: 5px; 
    font-size: 12px;
   
  }

  .league-container {
    text-align: center;
}

  .league-title{
    width: 70%;
  }

  .match-info .div2{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: -120px;
    margin-right: -120px;
    width: 70px;
    padding: 15px;
  }

  .menu-fixture {
    padding: 40px;
    width: 80%;
    position: relative; 

  }

  .date-title{
    font-size: 15px;
  }
  
  .date-number{
    font-size: 15px;
  }

  .team-logo{
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
  }
}