.stats-modal {
    align-items: center;
    background-color: rgba(148, 150, 151, 0.582);
    padding: 5px;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stats-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stats-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.div-final-stats{
    height: 80px;
}

@media only screen and (max-width: 600px) { 
    .stats-title {
        font-size: 17px;
    }
    .stats-modal {
        font-size: 12px;
    }
}