.home-container{
  background-image: url('../../public/images/2q2q.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

.navbar{
  background-color: black;
  color: white;
  padding: 12px;
  opacity: 0.8;
  margin-bottom: 70px;
}

.navbar h1 {
    font-size: 35px;
    opacity: 1 !important;
    text-align: center;
}

.footer{
  color: rgb(245, 241, 241) !important;
  padding: 8px;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;

}

h3{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: rgb(74, 64, 211);
  margin-bottom: 20px;
  display: inline;
  margin: 0;
  opacity: 1 !important;
}

.div {
  display: inline-block;
  background: rgb(20, 20, 20, 0.8);
  padding: 5px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
