.menu{
    background-color: rgba(148, 150, 151, 0.712);
    color: rgb(0, 0, 0);
    padding: 40px;
    margin-bottom: 400px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }

.title1{
    text-align: center;
    margin-top: -30px;
    margin-bottom: 25px;  
}

/* .searcher{
    background-color: rgba(0, 0, 0, 0.712);
    padding: 20px;
    width: 250px;
    margin-right: auto;
    margin-left: -20px;
    border-radius: 10px;
} */

.search-bar{
    background-color: rgba(0, 0, 0, 0.712);
    padding: 10px;
    width: 250px;
    margin-right: 30px;
    margin-left: 50px;
    border-radius: 10px;
    color: white;
}

.button {
    padding: 10px;
    background-color: #0d4ff5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    margin: 0 auto;
    margin-right: -30px;
    margin-top: -44px;
    opacity: 3 !important;
    margin-bottom: -60px;
    
  }
  
.button:hover {
    background-color: #0056b3;
  }

.back-arrow{
    padding: 20px; 
    font-size: 40px;
    margin-top: 13px;

}

.link{
    text-decoration: none;
    color: white;
}

.navbar2{
    background-color: black;
    color: white;
    padding: 12px;
    opacity: 0.8;
    margin-bottom: 70px;
  }
  
.navbar2 h1 {
      font-size: 35px;
      opacity: 1 !important;
      text-align: center;
      margin-top: -68px;
  }

.loading-spinner{
    color: white;
    text-align: center;
    font-size: 1em;
    margin-left: 5px;
  }
  
.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -380px;

    
  }


  /*TAMAÑO DE CELULAR*/

@media only screen and (max-width: 600px) {
  .menu{
    background-color: rgba(148, 150, 151, 0.712);
    color: rgb(0, 0, 0);
    padding: 40px;
    margin-bottom: 400px;
    width: 70%;
    margin-left: 20px;
    margin-right: 50px !important;
    border-radius: 10px;
    align-items: center;
  }

.title1{
    text-align: center;
    margin-top: -30px;
    margin-bottom: 25px;  
    font-size: 15px;
}


.search-bar{
    background-color: rgba(0, 0, 0, 0.712);
    padding: 10px;
    width: 60%;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 10px;
    color: white;
}

.button {
    padding: 10px;
    background-color: #0d4ff5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    margin: 0 auto;
    margin-right: -30px;
    margin-top: -44px;
    opacity: 3 !important;
    margin-bottom: -60px;
    
  }
  
.button:hover {
    background-color: #0056b3;
  }

}